<template>
  <div class="root">
    <form>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Name</label>
          <input type="text" required class="form-control" id="name" placeholder="Name"
                 v-model="form.name">
        </div>
        <div class="form-group col-md-4">
          <label for="description">Description</label>
          <input type="text" class="form-control" v-model="form.description" id="description"/>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="startdate">Start date</label>
          <input type="date" required class="form-control" id="startdate"
                 v-model="form.start">
        </div>
        <div class="form-group col-md-4">
          <label for="enddate">End date</label>
          <input type="date" class="form-control" id="enddate" v-model="form.end">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="country">Country</label>
          <input type="text" class="form-control" id="country" v-model="form.country" placeholder="Country">
        </div>
        <div class="form-group col-md-4">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" v-model="form.city" placeholder="City">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="prize">Prize</label>
          <input type="text" class="form-control" id="prize" v-model="form.prizeFund" placeholder="Prize Fund">
        </div>
        <div class="form-group col-md-4">
          <label for="currency">Currency</label>
          <input type="text" class="form-control" id="currency" v-model="form.currency" placeholder="Currency">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="longitude">Longitude</label>
          <input type="text" class="form-control" id="longitude" v-model="form.longitude" placeholder="Longitude">
        </div>
        <div class="form-group col-md-4">
          <label for="latitude">Latitude</label>
          <input type="text" class="form-control" id="latitude" v-model="form.latitude" placeholder="Latitude">
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary" @click="create">Add hackathon</button>
    </form>
  </div>
</template>

<script>
  import axios from "axios";
  import HostComponent from "./HostComponent";

  export default {
    name: "AddHackathon",
    extends: HostComponent,
    data() {
      return {
        form: {
          name: null,
          start: null,
          end: null,
          description: null,
          country: null,
          city: null,
          prizeFund: null,
          currency: null,
          longitude: null,
          latitude: null
        }
      }
    },
    methods: {
      create() {
        let authorization = this.$cookies.get('Authorization');
        var add = {
          name: this.form.name,
          start: new Date(this.form.start).getTime(),
          end: new Date(this.form.end).getTime(),
          description: this.form.description,
          country: this.form.country,
          city: this.form.city,
          prize_fund: this.form.prizeFund,
          currency: this.form.currency,
          longitude: this.form.longitude,
          latitude: this.form.latitude
        };
        axios
          .post(this.backendHost + '/hackathons', add,
            {
              headers:
                {
                  Authorization: authorization
                }
            }
          )
      }
    }
  }
</script>

<style scoped>

  .root {
    margin-left: 50px;
  }
</style>
