<template>
  <div class="root">
    <form>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Name</label>
          <input type="text" required class="form-control" id="name" placeholder="Name"
                 v-model="name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="participantsIds">Users to invite</label>
          <multiselect v-model="selectedUsers" :multiple="true" :close-on-select="true" :options="users"
                       label="name"
                       track-by="name"
                       id="participantsIds"></multiselect>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="teamTypes">Team type</label>
          <multiselect v-model="selectedType" :multiple="false" :close-on-select="true" :options="teamTypes"
                       label="name"
                       track-by="name"
                       id="teamTypes"></multiselect>
        </div>
        <div class="form-group col-md-4" v-if="selectedType !== null && selectedType.value === 'HACKATHON'">
          <label for="teamTypes">Hackathon</label>
          <multiselect v-model="selectedHackathon" :multiple="false" :close-on-select="true" :options="hackathons"
                       label="name"
                       track-by="name"
                       id="hackathons"></multiselect>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="participantsIds">Skills will be used by you</label>
          <multiselect v-model="selectedSkills" :multiple="true" :close-on-select="true" :options="skills"
                       label="name"
                       track-by="name"
                       id="skills"></multiselect>
        </div>
      </div>
      <button type="button" class="btn btn-primary" @click="createTeam">Create</button>
    </form>
  </div>
</template>

<script>
  import axios from "axios";
  import {Multiselect} from "vue-multiselect";
  import HostComponent from "./HostComponent";

  export default {
    name: "AddTeam",
    extends: HostComponent,
    components: {Multiselect},
    data() {
      return {
        name: null,
        selectedUsers: [],
        users: [],
        teamTypes: [
          {
            name: 'Constant',
            value: "CONSTANT"
          },
          {
            name: "For Hackathon",
            value: "HACKATHON"
          }
        ],
        selectedType: null,
        hackathons: [],
        selectedHackathon: [],
        skills: [],
        selectedSkills: []
      }
    },
    created() {
      axios
        .post( this.backendHost + '/users/list', {})
        .then(response => {
          let data = response.data;
          data.forEach(d => {
            d.name = d.name + " " + d.lastname;
            this.users.push(d);
          })
        });
      axios
        .get(this.backendHost + '/hackathons')
        .then((response) => {
            this.hackathons = response.data;
          },
          (error) => {
            this.result = error.status + ": " + error.text;
          });
      axios
        .get(this.backendHost + '/skills')
        .then((response) => {
          this.skills = response.data;
        });
    },
    methods: {
      createTeam() {
        console.log(this.selectedUsers);
        var selectedUsers = [];
        for (var i = 0; i < this.selectedUsers.length; i++) {
          let selectedUser = this.selectedUsers[i];
          selectedUsers.push(selectedUser.id);
        }
        var selectedSkills = [];
        for (var j = 0; j < this.selectedSkills.length; j++) {
          let selectedSkill = this.selectedSkills[j];
          selectedSkills.push(selectedSkill.id);
        }
        var form = {
          name: this.name,
          participants_ids: selectedUsers,
          hackathon_id: this.selectedHackathon.id,
          team_type: this.selectedType.value,
          team_leader_used_skills: selectedSkills,
          looking_for_hackers: true
        };
        axios.post(this.backendHost + '/teams/create', form, {
          headers: {
            Authorization: this.$cookies.get('Authorization')
          }
        }).then(response => {
          this.$router.push('/teams')
        })
      }
    }
  }
</script>

<style scoped>

  .root {
    margin-left: 50px;
    margin-right: 50px;
  }
</style>
