<template>
  <div class="root">
    <div class="error" style="color: red; font-weight: bolder" v-if="!isAccessPermitted">
      You have no access to this page
    </div>
    <div class="empty" style="color: red; font-weight: bolder" v-if="requests.length === 0">
      There is no applications so far.
    </div>
    <div class="row">
      <div class="card col-md-2" style="width: 18rem; margin: 0 20px 10px 20px" v-for="request in requests">
        <router-link v-bind:to="'/profiles/'">
          <div class="card-body">
            <p class="card-text">Name: {{request.entity.name}}</p>
            <p class="card-text">Join type: {{request.join_type}}</p>
            <p class="card-text">Status: {{request.status}}</p>
          </div>
        </router-link>
        <div class="row" v-if="request.status === 'WAITING'">
          <button class="btn btn-primary" style="background: green; margin-left: 30px; margin-right: 15px; margin-bottom: 10px" @click="accept(request.id)">Accept</button>
          <button class="btn btn-primary" style="background: red; margin-bottom: 10px" @click="reject(request.id)">Reject</button>
        </div>
        <div class="row" v-if="request.status === 'APPROVED'">
          <button class="btn btn-primary" style="background: green; margin-left: 30px; margin-right: 15px; margin-bottom: 10px" @click="attended(request.id)">Attended</button>
          <button class="btn btn-primary" style="background: red; margin-bottom: 10px" @click="absent(request.id)">Absent</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import HostComponent from "./HostComponent";
  import axios from "axios";

  export default {
    name: "Applications",
    extends: HostComponent,
    data() {
      return {
        requests: [],
        isAccessPermitted: false,
        id: null
      }
    },
    created() {
      let authorization = this.$cookies.get('Authorization');
      let config = {
        headers: {
          Authorization: authorization
        }
      };
      let id = this.$router.currentRoute.params['id'];
      this.id = this.$router.currentRoute.params['id'];
      axios
        .get(this.backendHost + "/join/requests/hackathon/" + id, config)
        .then(response => {
          this.requests = response.data;
          this.isAccessPermitted = true;
        })
        .catch(error => {
          this.isAccessPermitted = false;
        })
    },
    methods: {
      accept(id) {
        let authorization = this.$cookies.get('Authorization');
        let config = {
          headers: {
            Authorization: authorization
          }
        };
        axios
        .get(this.backendHost + "/join/requests/" + id + "/status?status=APPROVED", config);
      },
      reject(id) {
        let authorization = this.$cookies.get('Authorization');
        let config = {
          headers: {
            Authorization: authorization
          }
        };
        axios
          .get(this.backendHost + "/join/requests/" + id + "/status?status=REJECTED", config);
      },
      attended(id) {
        let authorization = this.$cookies.get('Authorization');
        let config = {
          headers: {
            Authorization: authorization
          }
        };
        axios
          .get(this.backendHost + "/join/requests/" + id + "/status?status=ATTENDED", config);
      },
      absent(id) {
        let authorization = this.$cookies.get('Authorization');
        let config = {
          headers: {
            Authorization: authorization
          }
        };
        axios
          .get(this.backendHost + "/join/requests/" + id + "/status?status=ABSENT", config);
      }
    }
  }
</script>

<style scoped>

  .root {
    margin-left: 50px;
  }
</style>
