<template>
  <div class="container">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" v-model="messageQuery" class="search-bar" placeholder="Input your query here...">
                <span class="input-group-addon">
                <button type="button" @click="search(messageQuery)"> <i class="fa fa-search" aria-hidden="false"></i>Search</button>
                </span></div>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="chat_list">
              <div class="chat_people" v-for="chat in chats">
                <button class="chat_ib"
                        style="border: 1px solid rgba(0, 0, 0, 1); background: rgba(255, 255, 255, 0); margin-bottom: 10px; width: 100%"
                        @click="connect(chat.id)">
                  <h5 style="display: inline" v-for="participant in chat.participants">{{participant.name}}, </h5>
                  <br>
                  <span>{{chat.chat_type}}</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="mesgs" v-if="chatId !== null">
          <div class="msg_history">
            <div class="incoming_msg" v-for="msg in received_messages">
              <div class="incoming_msg_img"><img v-bind:src="msg.sender.picture.preview_link" alt="sunil">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg" style="text-align: left">
                  <p>{{msg.sender.name}} {{msg.sender.lastname}}</p>
                  <p style="font-weight: bold; font-size: 16px">{{msg.text}}</p>
                  <span class="time_date">{{getDate(msg.date)}}</span></div>
              </div>
            </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" v-model="send_message" class="write_msg" placeholder="Type a message"/>
              <button class="btn btn-primary" type="button" @click="send(chatId)">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from "axios";
  import HostComponent from "./HostComponent";
  import SockJS from "sockjs-client";
  import Stomp from "webstomp-client";

  export default {
    name: "Chats",
    extends: HostComponent,
    data() {
      return {
        received_messages: null,
        send_message: null,
        selectedChat: null,
        connected: false,
        user: null,
        chats: [],
        chatId: null,
        justConnected: true,
        lastMessage: [],
        messageQuery: null
      };
    },
    methods: {
      search(query) {
        let authorization = this.$cookies.get('Authorization');
        let config = {
          headers: {
            Authorization: authorization
          }
        };
        let form = {
          query: query,
          user_id: this.user.id
        };
        axios.post(this.backendHost + '/chats/messages/search', form, config)
          .then(response => {
            this.received_messages = response.data;
          })
      },
      send(id) {
        let authorization = this.$cookies.get('Authorization');
        console.log("Send message:" + this.send_message);
        let config = {
          Authorization: authorization
        };
        if (this.stompClient && this.stompClient.connected) {
          const msg = {
            text: this.send_message,
            sender_id: this.user.id,
            chat_id: id
          };
          this.stompClient.send("/chat/" + id + "/send", JSON.stringify(msg), config);
        }
      },
      connect(id) {
        let authorization = this.$cookies.get('Authorization');
        let config = {
          Authorization: authorization
        };
        this.socket = new SockJS(this.backendHost + "/hackanet/ws");
        this.stompClient = Stomp.over(this.socket);
        this.stompClient.connect(
          {},
          frame => {
            this.connected = true;
            this.stompClient.send("/chat/" + id + "/connect", "connected", config);
            this.chatId = id;
            this.stompClient.subscribe("/chat/" + id, tick => {
              if (this.justConnected) {
                this.received_messages = JSON.parse(tick.body);
                this.justConnected = false;
                this.lastMessage.push({
                  chatId: id,
                  lastMessage: this.received_messages[this.received_messages.length - 1]
                })
              } else {
                this.received_messages.push(JSON.parse(tick.body));
                this.lastMessage.push({
                  chatId: id,
                  lastMessage: this.received_messages[this.received_messages.length - 1]
                })
                this.justConnected = true;
              }
              console.log("received messages: ");
              console.log(this.received_messages);
            });
          },
          error => {
            console.log(error);
            this.connected = false;
          }
        );
      },
      disconnect() {
        if (this.stompClient) {
          this.stompClient.disconnect();
        }
        this.connected = false;
      },
      tickleConnection() {
        this.connected ? this.disconnect() : this.connect();
      },
      getDate(millis) {
        if (millis === null) {
          return null;
        }
        let d = new Date(millis),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear(),
          hour = '' + d.getHours(),
          minutes = '' + d.getMinutes();
        if (month.length < 2) {
          month = '0' + month;
        }
        if (day.length < 2) {
          day = '0' + day;
        }
        if (minutes.length < 2) {
          minutes = '0' + minutes;
        }
        if (hour.length < 2) {
          hour = '0' + hour;
        }
        return year + '-' + month + '-' + day + ' ' + hour + ':' + minutes;
      },
      getLastMessage(id) {
        for (let i = 0; i < this.lastMessage.length; i++) {
          let lastMessageElement = this.lastMessage[i];
          if (lastMessageElement.chatId === id) {
            return lastMessageElement.message;
          }
        }
      }
    },
    created() {
      let authorization = this.$cookies.get('Authorization');
      let config = {
        headers: {
          Authorization: authorization
        }
      };
      axios
        .get(this.backendHost + '/users/me', config)
        .then((response) => {
          this.user = response.data;
        });
      axios.get(this.backendHost + '/chats/user', config)
        .then(response => {
          this.chats = response.data;
        })
    },
    mounted() {
    }
  }
</script>

<style scoped>

  .container {
    max-width: 1170px;
    margin: auto;
  }

  img {
    max-width: 100%;
  }

  .inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
  }

  .inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
  }

  .top_spac {
    margin: 20px 0 0;
  }


  .recent_heading {
    float: left;
    width: 40%;
  }

  .srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
  }

  .headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
  }

  .recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
  }

  .srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
  }

  .srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
  }

  .srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
  }

  .chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
  }

  .chat_ib h5 span {
    font-size: 13px;
    float: right;
  }

  .chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
  }

  .chat_img {
    float: left;
    width: 11%;
  }

  .chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
  }

  .chat_people {
    overflow: hidden;
    clear: both;
  }

  .chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
  }

  .inbox_chat {
    height: 550px;
    overflow-y: scroll;
  }

  .active_chat {
    background: #ebebeb;
  }

  .incoming_msg_img {
    display: inline-block;
    width: 6%;
  }

  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
  }

  .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }

  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }

  .received_withd_msg {
    width: 57%;
  }

  .mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
  }

  .sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }

  .outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
  }

  .sent_msg {
    float: right;
    width: 46%;
  }

  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }

  .type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
  }

  .msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }

  .messaging {
    padding: 0 0 50px 0;
  }

  .msg_history {
    height: 516px;
    overflow-y: auto;
  }
</style>
