<template>
  <div class="root">
    <div class="row">
      <div class="col-md-2">
        <router-link class="btn btn-primary" to="/invitations" style="font-weight: bolder">Invitations</router-link>
      </div>
    </div>
    <div class="row">
      <div class="card col-md-2" style="width: 18rem; margin: 0 20px 10px 20px" v-for="connection in connections">
        <router-link v-bind:to="'/profiles/' + connection.id">
          <img class="card-img-top" v-bind:src="connection.picture.preview_link" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{connection.name}} {{connection.lastname}}</p>
            <p class="card-text">{{connection.position}}</p>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from "axios";
  import HostComponent from "./HostComponent";

  export default {
    name: "Connections",
    extends: HostComponent,
    data() {
      return {
        connections: [],
        userId: null
      }
    },
    created() {
      let authorization = this.$cookies.get('Authorization');
      let config = {
        headers: {
          Authorization: authorization
        }
      };
      axios
        .get(this.backendHost + '/users/me', config)
        .then((response) => {
          this.userId = response.data.id;
        });
      axios
        .get(this.backendHost + '/users/' + this.userId + '/connections', config)
        .then((response) => {
          this.connections = response.data;
        });
    }
  }
</script>

<style scoped>

</style>
