<template>
  <div class="root">
    <span>{{result}}</span>
    <form>
      <div class="mb-4">
        <!-- Gradient divider -->
        <hr data-content="NAME" class="hr-text">
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Name</label>
          <input type="text" required class="form-control" id="name" placeholder="Name"
                 v-model="form.name">
        </div>
        <div class="form-group col-md-4">
          <label for="lastname">Lastname</label>
          <input type="text" required class="form-control" id="lastname" placeholder="Lastname"
                 v-model="form.lastname">
        </div>
      </div>
      <div class="mb-4">
        <!-- Gradient divider -->
        <hr data-content="LOCATION" class="hr-text">
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputCountry">Country</label>
          <input type="text" class="form-control" id="inputCountry" v-model="form.country">
        </div>
        <div class="form-group col-md-4">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity" v-model="form.city">
        </div>
      </div>
      <div class="mb-4">
        <!-- Gradient divider -->
        <hr data-content="SKILLS" class="hr-text">
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="skills">Skills</label>
          <multiselect v-model="skillsNames" :multiple="true" :close-on-select="true" :options="skills"
                       label="name"
                       track-by="name"
                       id="skills"></multiselect>
        </div>
        <div class="form-group col-md-4">
          <label for="nickname">Nickname</label>
          <input type="text" class="form-control" id="nickname" v-model="form.nickname">
        </div>
      </div>
      <div class="mb-4">
        <!-- Gradient divider -->
        <hr data-content="EDUCATION" class="hr-text">
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Uni search</label>
          <input type="text" class="form-control" @input="isTyping = true" v-model="uniQuery"
                 placeholder="Type your keyword">
        </div>
        <div class="form-group col-md-4">
          <label for="skills">Universities</label>
          <multiselect v-model="selectedUni" :multiple="false" :close-on-select="true" :options="universities"
                       label="title"
                       track-by="title"
                       id="universities"></multiselect>
        </div>
      </div>
      <div class="mb-4">
        <!-- Gradient divider -->
        <hr data-content="EXPERIENCE" class="hr-text">
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="companies">Companies</label>
          <multiselect v-model="selectedCompany" :multiple="false" :close-on-select="true" :options="companies"
                       label="name"
                       track-by="name"
                       id="companies"></multiselect>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="from">From</label>
          <input class="form-control" type="date" id="from" v-model="workFrom">
        </div>
        <div class="form-group col-md-4">
          <label for="until">Until</label>
          <input type="date" class="form-control" id="until" v-model="wordUntil">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="desc">Description</label>
          <textarea id="desc" class="form-control" v-model="description"></textarea>
        </div>
      </div>
      <div class="form-row">
        <button type="submit" class="btn btn-primary form-control col-md-4" @click="update">Save</button>
      </div>
    </form>
  </div>
</template>

<script>
  import Multiselect from 'vue-multiselect';
  import axios from "axios";
  import HostComponent from "./HostComponent";

  export default {
    name: "EditProfile",
    extends: HostComponent,
    components: {Multiselect},
    data() {
      return {
        user: null,
        skillsNames: [],
        skills: [],
        form: {
          name: null,
          lastname: null,
          nickname: null,
          country: null,
          city: null,
          skills: [],
          university: null
        },
        universities: [],
        uniQuery: null,
        isTyping: false,
        selectedUni: null,
        companies: [],
        selectedCompany: null,
        workFrom: null,
        wordUntil: null,
        description: null,
        result: ""
      }
    },
    beforeCreate() {
      let authorization = this.$cookies.get('Authorization');
      console.log(authorization);
      axios
        .get(this.backendHost + '/users/me', {
          headers: {
            Authorization:
            authorization
          }
        })
        .then((response) => {
          this.user = response.data;
        });
      axios
        .get(this.backendHost + '/skills')
        .then((response) => {
          this.skills = response.data;
        });
      axios
        .get(this.backendHost + '/skills')
        .then((response) => {
          this.skills = response.data;
        });
      axios
        .post(this.backendHost + '/companies', {}, {
          headers: {
            Authorization: this.$cookies.get('Authorization')
          }
        })
        .then(response => {
          this.companies = response.data;
        })
    },
    watch: {
      isTyping() {
        this.searchUni(this.uniQuery);
      }
    },
    methods: {
      update() {
        this.skillsNames.forEach(s => this.form.skills.push(s.id));
        this.form.university = this.selectedUni.title;
        let config = {
          headers: {
            Authorization: this.$cookies.get('Authorization')
          }
        };
        axios
          .put(this.backendHost + '/users/' + this.user.id,
            this.form,
            config)
          .then((response) => {
            this.user = response.data;
          })
        var jeForm = {
          company_id: this.selectedCompany.id,
          description: this.description,
          from: new Date(this.workFrom).getTime(),
          to: new Date(this.wordUntil).getTime(),
        }
        axios
          .post(this.backendHost + '/job/experience', jeForm, config)
          .then((response) => {
            this.result = response.statusText
          }, (error) => {
            this.result = error.text;
          })
      },
      searchUni(query) {
        axios
          .get(this.backendHost + '/universities?query=' + query,
            {
              headers: {
                Authorization: this.$cookies.get('Authorization')
              }
            })
          .then((response) => {
            this.universities = response.data.items;
            console.log(this.universities);
          })
      },
    }
  }
</script>

<style scoped>

  .root {
    margin-left: 75px;
  }

  hr.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: #999;
  }

  hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    color: #999;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

</style>
