<template>
  <div class="root">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="type">Apply type</label>
          <multiselect v-model="selectedType" :multiple="false" :close-on-select="true" :options="types"
                       label="value"
                       track-by="value"
                       id="type"></multiselect>
        </div>
      </div>
      <div class="form-row" v-if="selectedType !== null && selectedType.key === 'TEAM'">
        <div class="form-group col-md-6">
          <label for="team">Team</label>
          <multiselect v-model="selectedTeam" :multiple="false" :close-on-select="true" :options="teams"
                       label="name"
                       track-by="name"
                       id="team"></multiselect>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="track">Track</label>
          <multiselect v-model="selectedTrack" :multiple="false" :close-on-select="true" :options="hackathon.tracks"
                       label="name"
                       track-by="name"
                       id="track"></multiselect>
        </div>
        <div class="form-group col-md-4">
          <label for="subTrack">Sub Track</label>
          <multiselect v-model="selectedSubTrack" :multiple="false" :close-on-select="true" :options="hackathon.tracks"
                       label="name"
                       track-by="name"
                       id="subTrack"></multiselect>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4" v-if="selectedTrack !== null">
          <span>{{selectedTrack.description}}</span>
        </div>
        <div class="form-group col-md-4" v-if="selectedSubTrack !== null">
          <span>{{selectedSubTrack.description}}</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <button class="btn btn-primary" type="button" @click="registerForHackathon" style="width: 100%">Apply</button>
        </div>
      </div>
    </form>
    <div class="result" v-if="result !== null">
      {{result}}
    </div>
  </div>
</template>

<script>
  import Multiselect from "vue-multiselect";
  import axios from "axios";
  import HostComponent from "./HostComponent";

  export default {
    name: "HackathonApplication",
    extends: HostComponent,
    components: {Multiselect},
    data() {
      return {
        types: [
          {key: 'TEAM', value: 'Team'},
          {key: 'ALONE', value: 'Alone'}
        ],
        selectedType: null,
        selectedTrack: null,
        selectedSubTrack: null,
        id: null,
        user: null,
        teams: [],
        selectedTeam: null,
        hackathon: null,
        result: null
      }
    },
    created() {
      this.id = this.$router.currentRoute.params['id'];
      let authorization = this.$cookies.get('Authorization');
      let config = {
        headers: {
          Authorization: authorization
        }
      };
      axios
        .get(this.backendHost + '/users/me', config)
        .then((response) => {
          this.user = response.data;
        });
      axios
        .get(this.backendHost + '/teams/users', {
          headers: {
            Authorization: authorization
          }
        })
        .then(response => {
          this.teams = response.data;
        });
      axios
        .get(this.backendHost + '/hackathons/' + this.id, config)
        .then(response => {
          this.hackathon = response.data;
        })
    },
    methods: {
      registerForHackathon() {
        let authorization = this.$cookies.get('Authorization');
        let config = {
          headers: {
            Authorization: authorization
          }
        };
        var entity = null;
        if (this.selectedType.value === 'Team') {
          entity = this.selectedTeam.id;
        } else {
          entity = this.user.id;
        }
        var form = {
          entity_id: entity,
          join_type: this.selectedType.key,
          main_track_id: this.selectedTrack.id,
          sub_track_id: this.selectedSubTrack.id
        }
        var id = this.$router.currentRoute.params['id'];
        console.log(form);
        axios
          .post(this.backendHost + '/join/requests/' + id + '/register', form, config)
          .then(response => {
            this.result = response.data.message;
          },
          error => {
            this.result = error.status;
          })
      }
    }
  }
</script>

<style scoped>

  .root {
    margin-left: 50px;
  }
</style>
