<template>
  <div class="small">
    <form>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">From</label>
        <div class="col-sm-3">
          <input type="date" required class="form-control" id="inputEmail3" placeholder="Email" v-model="statFrom">
        </div>
        <h3>Count of views in total in this period: {{countOfViews}}</h3>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">To</label>
        <div class="col-sm-3">
          <input type="date" required class="form-control" id="inputPassword3" placeholder="Password" v-model="statTo">
        </div>
        <h3>Count of unique views in total in this period: {{countOfUniqueViews}}</h3>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary" @click="buildChart" style="font-weight: bolder">Show statistic
          </button>
        </div>
      </div>
    </form>
    <div class="statistic" style="margin-bottom: 50px; text-align: left; margin-left: 15px"
         v-if="loaded">
      <h3>Daily: </h3>
      <line-chart :chart-data="dailyStatistic" :options="statOptions" v-if="loaded"></line-chart>
    </div>
    <div class="statistic" style="text-align: left; margin-left: 15px" v-if="loaded">
      <h3>Hourly: </h3>
      <line-chart :chart-data="hourlyStatistic" :options="statOptions" v-if="loaded"></line-chart>
    </div>
  </div>
</template>

<script>
  import LineChart from "./LineChart";
  import axios from "axios";
  import HostComponent from "./HostComponent";

  export default {
    name: "HackathonStatistic",
    extends: HostComponent,
    components: {LineChart},
    data() {
      return {
        statOptions: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              },
              gridLines: {
                display: true
              }
            }],
            xAxes: [{
              gridLines: {
                display: false
              }
            }]
          },
          legend: {
            display: true
          },
          responsive: true,
          maintainAspectRatio: false
        },
        countOfUniqueViews: 0,
        hourlyStatistic: null,
        dailyStatistic: null,
        countOfViews: 0,
        statFrom: null,
        loaded: false,
        statTo: null,
        data: null,
        id: null
      }
    },
    created() {
      this.id = this.$router.currentRoute.params['id'];
      console.log(this.id);
    },
    methods: {
      buildChart() {
        this.id = this.$router.currentRoute.params['id'];
        console.log(this.id);
        let authorization = this.$cookies.get('Authorization');
        let config = {
          headers: {
            Authorization: authorization
          }
        };
        let sFrom = new Date(this.statFrom).getTime();
        let sTo = new Date(this.statTo).getTime();
        axios
          .get(this.backendHost + "/hackathons/" + this.id + "/views/daily?from=" + sFrom + "&to=" + sTo, config)
          .then(response => {
            this.data = response.data;
            var l = [];
            var d = [];
            for (var i = 0; i < this.data.statistics.length; i++) {
              let statistic = this.data.statistics[i];
              l.push(this.getDate(statistic.time, false));
              d.push(statistic.count);
            }
            this.dailyStatistic = {
              labels: l,
              datasets: [
                {
                  label: 'Count of requests per day',
                  backgroundColor: 'rgba(255, 255, 255, 0)',
                  borderColor: 'black',
                  pointBackgroundColor: 'white',
                  borderWidth: 2,
                  pointBorderColor: '#249EBF',
                  //Data to be represented on y-axis
                  data: d
                }
              ]
            }
          })
        axios
          .get(this.backendHost + "/hackathons/" + this.id + "/views/hourly?from=" + sFrom + "&to=" + sTo, config)
          .then(response => {
            this.data = response.data;
            var l = [];
            var d = [];
            for (var i = 0; i < this.data.statistics.length; i++) {
              let statistic = this.data.statistics[i];
              l.push(this.getDate(statistic.time, true));
              d.push(statistic.count);
            }
            this.hourlyStatistic = {
              labels: l,
              datasets: [
                {
                  label: 'Count of requests per hour',
                  backgroundColor: '#f87979',
                  data: d
                }
              ]
            }
          });
        axios
          .get(this.backendHost + "/hackathons/" + this.id + "/views/period?from=" + sFrom + "&to=" + sTo, config)
          .then(response => {
            this.countOfViews = response.data;
          });
        axios
          .get(this.backendHost + "/hackathons/" + this.id + "/views/unique?from=" + sFrom + "&to=" + sTo, config)
          .then(response => {
            this.countOfUniqueViews = response.data;
          });
        this.loaded = true;
      },
      getDate(millis, time) {
        let d = new Date(millis),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear(),
          hour = '' + d.getHours(),
          minutes = '' + d.getMinutes();
        if (month.length < 2) {
          month = '0' + month;
        }
        if (day.length < 2) {
          day = '0' + day;
        }
        if (minutes.length < 2) {
          minutes = '0' + minutes;
        }
        if (hour.length < 2) {
          hour = '0' + hour;
        }
        if (time) {
          return year + '-' + month + '-' + day + ' ' + hour + ':' + minutes;
        } else {
          return year + '-' + month + '-' + day;
        }
      }
    }

  }
</script>

<style scoped>

</style>
