<template>
  <div class="root">
    <div class="container emp-profile" v-if="hackathon !== null">
      <form method="post">
        <div class="row">
          <div class="col-md-4">
            <div class="profile-img">
              <img
                v-bind:src="hackathon.picture.preview_link"
                alt=""/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
              <h5>
                {{hackathon.name}}
              </h5>
              <h6>
                {{hackathon.country}}, {{hackathon.city}}
              </h6>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <router-link class="nav-link" id="home-tab" data-toggle="tab" role="tab"
                               aria-controls="home" to="#" v-bind:aria-selected="true">About
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-1" v-if="isAdmin">
            <router-link to="/profile/edit"><input type="button" class="btn btn-primary" name="btnAddMore"
                                                   value="Edit"/></router-link>
          </div>
          <div class="col-md-1" v-if="isAdmin">
            <router-link v-bind:to="'/hackathons/' + hackathon.id + '/statistic'"><input type="button"
                                                                                         class="btn btn-primary"
                                                                                         name="btnAddMore"
                                                                                         value="Statistic"
                                                                                         style="background: darkred; font-weight: bolder"/>
            </router-link>
          </div>
        </div>
        <div class=" row">
          <div class="col-md-4">
            <div class="profile-work">
              <p>SKILLS</p>
              <span v-for="skill in hackathon.required_skills.skills">{{skill.name}}<br></span>
            </div>
          </div>
          <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="mb-4">
                <!-- Gradient divider -->
                <hr data-content="INFORMATION" class="hr-text">
              </div>
              <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row" style="text-align: left">
                  <div class="col-md-6" style="font-weight: bolder">
                    <label>Dates</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{getDate(hackathon.start)}} - {{getDate(hackathon.end)}}</p>
                  </div>
                </div>
                <div class="row" style="text-align: left">
                  <div class="col-md-6" style="font-weight: bolder">
                    <label>Prize fund</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{hackathon.currency}} {{hackathon.prize_fund}}</p>
                  </div>
                </div>
                <div class="mb-4">
                  <!-- Gradient divider -->
                  <hr data-content="TRACKS" class="hr-text">
                </div>
                <div class="experience"
                     style="text-align: left; background: #f8f9fa; border-radius: 5px; margin-bottom: 10px"
                     v-for="track in hackathon.tracks">
                  <div class="row">
                    <div class="col-md-6" style="font-weight: bolder">
                      Track:
                    </div>
                    <div class="col-md-6">
                      <h5>{{track.name}}</h5><br/>
                      <p>{{track.description}}</p>
                    </div>
                  </div>
                </div>
                <div class="mb-4">
                  <!-- Gradient divider -->
                  <hr data-content="PARTICIPANTS" class="hr-text">
                </div>
                <div class="row">
                  <div class="col-md-1" v-if="isAdmin">
                    <router-link v-bind:to="'/hackathon/' + hackathon.id + '/applications'"><input type="button"
                                                                                                   class="btn btn-primary"
                                                                                                   name="btnAddMore"
                                                                                                   value="Applications"/>
                    </router-link>
                  </div>
                </div>
                <div class="row">
                  <div class="card col-md-3" style="width: 18rem; margin: 10px 20px 10px 20px; font-size: 20px; font-weight: bold"
                       v-for="participant in hackathon.participants">
                    <router-link v-bind:to="'/profiles/' + participant.id">
                      <img class="card-img-top"
                           v-bind:src="participant.picture !== null ? participant.picture.preview_link : 'https://hackanet-bucket.s3.amazonaws.com/no_picture_avatar.png'"
                           alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">{{participant.name}}</p>
                      </div>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import axios from "axios";
  import HostComponent from "./HostComponent";

  export default {
    name: "Hackathon",
    extends: HostComponent,
    data() {
      return {
        user: null,
        hackathon: null,
        isAdmin: false,
        id: null
      }
    },
    created() {
      console.log(this.backendHost);
      let id = this.$router.currentRoute.params['id'];
      this.id = this.$router.currentRoute.params['id'];
      console.log(this.id);
      let authorization = this.$cookies.get('Authorization');
      let config = {
        headers: {
          Authorization: authorization
        }
      };
      // axios
      //   .get(this.backendHost + '/hackathons/admin', config)
      //   .then((response) => {
      //     var hackathons = response.data;
      //     for (let i = 0; i < hackathons.length; i++) {
      //       if (hackathons[i].id === id) {
      //         this.isAdmin = true;
      //       }
      //     }
      //   });
      axios
        .get(this.backendHost + '/users/me', config)
        .then((response) => {
          this.user = response.data;
        });
      axios
        .get(this.backendHost + '/hackathons/' + id, config)
        .then(response => {
          this.hackathon = response.data;
          this.isAdmin = this.hackathon.organizer.name === this.user.name;
        });
    },
    methods: {
      getDate(millis) {
        let d = new Date(millis),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear();

        if (month.length < 2)
          month = '0' + month;
        if (day.length < 2)
          day = '0' + day;

        return [year, month, day].join('-');
      }
    }
  }
</script>

<style scoped>
  hr.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: #999;
  }

  hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    color: #999;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hackathons {
    background: #999999;
    border-radius: 10px;
  }

  .col-md-4 {
    text-align: center;
  }

</style>
