<template>
  <div class="root">
    <div class="add-hack" v-show="isAdmin">
      <router-link to="/hackathons/add" class="btn btn-primary">Add hackathon</router-link>
      <br>
    </div>
    <div class="row">
      <div class="card col-md-2" style="width: 18rem; margin: 15px 15px 15px 15px" v-for="hackathon in hackathons">
      <router-link v-bind:to="'/hackathons/' + hackathon.id">
          <img class="card-img-top" v-bind:src="hackathon.picture.preview_link" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{hackathon.name}}</p>
            <p class="card-text">Starts on: {{getDate(hackathon.start)}}</p>
            <p class="card-text">Ends on: {{getDate(hackathon.end)}}</p>
          </div>
          <router-link class="btn btn-primary" v-bind:to="'/hackathons/apply/' + hackathon.id">Apply</router-link>
      </router-link>
      </div>
    </div>
    <div class="result">
      {{result}}
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import Navigation from "./Navigation";
  import HostComponent from "./HostComponent";

  export default {
    name: "Hackathons",
    extends: HostComponent,
    components: {
      Navigation
    },
    data() {
      return {
        hackathons: [],
        result: "",
        isAdmin: false
      }
    },
    created() {
      let authorization = this.$cookies.get('Authorization');
      this.authenticated = authorization !== null;
      console.log(authorization);
      axios
        .get(this.backendHost + '/hackathons')
        .then((response) => {
            this.hackathons = response.data;
            if (response.data.length === 0) {
              this.result = "There are no hackathons yet.";
            }
          },
          (error) => {
            this.result = error.status + ": " + error.text;
          });
      axios
        .get(this.backendHost + '/users/me', {
          headers: {
            Authorization:
              authorization
          }
        })
        .then((response) => {
          this.isAdmin = response.data.role === 'ADMIN';
        })
    },
    methods: {
      redirect() {
        this.$router.push("/hackathons/add");
      },
      getDate(millis) {
        let d = new Date(millis),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear();

        if (month.length < 2)
          month = '0' + month;
        if (day.length < 2)
          day = '0' + day;

        return [year, month, day].join('-');
      }
    }
  }
</script>

<style scoped>

  .root {
    margin-left: 50px;
  }
</style>
