<template>
  <div class="root">
    <div class="row">
      <div class="card col-md-2" style="width: 18rem; margin: 0 20px 10px 20px" v-for="invitation in invitations">
        <div class="invitation" v-if="invitation.status === 'NEW'">
          <img class="card-img-top" v-bind:src="invitation.user.picture.preview_link" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{invitation.user.name}} {{invitation.user.lastname}}</p>
            <p class="card-text">Current status: {{invitation.status}}</p>
          </div>
          <button type="button" style="margin-bottom: 10px" class="btn btn-primary btn-accept" @click="accept(invitation.id)">Accept</button>
          <button type="button" class="btn btn-primary btn-reject" @click="reject(invitation.id)">Reject</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import HostComponent from "./HostComponent";
  import axios from "axios";

  export default {
    name: "Invitations",
    extends: HostComponent,
    data() {
      return {
        invitations: [],
        user: null
      }
    },
    created() {
      let authorization = this.$cookies.get('Authorization');
      let config = {
        headers: {
          Authorization: authorization
        }
      };
      axios
        .get(this.backendHost + '/connections/invitations/by/invited/user', config)
        .then(response => {
          this.invitations = response.data;
        });
    },
    methods: {
      accept(id) {
        let authorization = this.$cookies.get('Authorization');
        let config = {
          headers: {
            Authorization: authorization
          }
        };
        axios
          .get(this.backendHost + '/connections/invitations/' + id + '/status?status=ACCEPTED', config);
      },
      reject(id) {
        let authorization = this.$cookies.get('Authorization');
        let config = {
          headers: {
            Authorization: authorization
          }
        };
        axios
          .get(this.backendHost + '/connections/invitations/' + id + '/status?status=REJECTED', config);
      }
    }
  }
</script>

<style scoped>

  .row {
    margin-left: 25px;
    margin-right: 25px;
    font-weight: bold;
  }

  .btn-accept {
    background: darkgreen;
    font-weight: bold;
  }

  .btn-reject {
    background: darkred;
    font-weight: bold;
  }
</style>
