<template>
  <div class="root">
    <div class="row">
      <div class="card col-md-2" style="width: 18rem; margin: 0 20px 10px 20px" v-for="request in requests">
        <router-link v-bind:to="'/profiles/' + request.user.id">
          <img class="card-img-top"
               v-bind:src="request.user.picture !== null ? request.user.picture.preview_link : 'https://hackanet-bucket.s3.amazonaws.com/no_picture_avatar.png'"
               alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{request.user.name}} {{request.user.lastname}}</p>
            <p class="card-text">{{request.status}}</p>
          </div>
        </router-link>
        <button v-if="request.status === 'WAITING'" class="btn btn-primary" style="font-weight: bold; background: green; margin-bottom: 10px" @click="accept(request.id)">Accept</button>
        <button v-if="request.status === 'WAITING'" class="btn btn-primary" style="font-weight: bold; background: darkred;" @click="reject(request.id)">Reject</button>
      </div>
    </div>
  </div>
</template>

<script>
  import HostComponent from "./HostComponent";
  import axios from "axios";

  export default {
    name: "JoinTeamRequests",
    extends: HostComponent,
    data() {
      return {
        requests: [],
        teams: []
      }
    },
    created() {
      let authorization = this.$cookies.get('Authorization');
      let config = {
        headers: {
          Authorization: authorization
        }
      };
      axios
        .get(this.backendHost + '/teams/users', config)
        .then(response => {
          this.teams = response.data;
          this.teams.forEach(team => {
            axios.get(this.backendHost + '/teams/join/request/team/' + team.id, config)
              .then(response => {
                let items = response.data;
                if (items.length > 0) {
                  items.forEach(it => {
                    this.requests.push(it);
                  })
                }
              })
          })
        });
    },
    methods: {
      accept(id) {
        let authorization = this.$cookies.get('Authorization');
        let config = {
          headers: {
            Authorization: authorization
          }
        };
        axios.put(this.backendHost + '/teams/join/request/' + id + "?status=APPROVED", {}, config);
      },
      reject(id) {
        let authorization = this.$cookies.get('Authorization');
        let config = {
          headers: {
            Authorization: authorization
          }
        };
        axios.put(this.backendHost + '/teams/join/request/' + id + "?status=REJECTED",{}, config)
        .then(response => {
          this.requests.forEach(req => {
            if (req.id === id) {
              req.status = 'REJECTED';
            }
          })
        });
      }
    }
  }
</script>

<style scoped>

</style>
