<template>
    <div class="root">

    </div>
</template>

<script>
    export default {
        name: "Logout",
        created() {
            this.$cookies.remove('Authorization');
            this.$router.push('/hackathons');
        }
    }
</script>

<style scoped>

</style>
