<template>
  <div class="root">
    <nav class="navbar navbar-expand-sm bg-light">

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link class="nav-link" v-bind:to="to">{{li}}</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/logout">Logout</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/register">Sign Up</router-link>
        </li>
        <li class="nav-item">
          <img src="https://hackanet-bucket.s3.amazonaws.com/Group+59.png" alt="logo">
        </li>
        <router-link class="nav-link" to="/profile/home">Profile</router-link>
        <li class="nav-item">
          <router-link class="nav-link" to="/connections">Connections</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/hackathons">Hackathons</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/teams">Teams</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/teams/invitations">Team Invitations</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/users">Users</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/chats">Chats</router-link>
        </li>
      </ul>

    </nav>
  </div>
</template>

<script>
    export default {
        name: "Navigation",
        data() {
            return {
                authenticated: false,
                li: "Log in",
                to: "/login"
            }
        },
        beforeCreate() {
            let authorization = this.$cookies.get('Authorization');
            this.authenticated = authorization !== null;
            if (this.authenticated) {
                this.li = "Log out";
                this.to = "/logout"
            }
        },
        methods: {}
    }
</script>

<style scoped>

  .root {
    margin-top: -60px;
    margin-bottom: 15px;
  }

  .nav-item img {
    width: 40px;
    height: 40px;
  }
</style>
