<template>
  <div class="root">
    <div class="container emp-profile" v-if="user !== null">
      <form method="post">
        <div class="row">
          <div class="col-md-4">
            <div class="profile-img">
              <img
                v-bind:src="user.picture.preview_link"
                alt=""/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
              <h5>
                {{user.name}} {{user.lastname}}
              </h5>
              <h6>
                {{user.position}}
              </h6>
              <p class="proile-rating">RANKINGS : <span>{{user.rating}}/5 ({{user.review_count}} reviews)</span></p>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <router-link class="nav-link" id="home-tab" data-toggle="tab" role="tab"
                               aria-controls="home" v-bind:to="isThisUser ? '/profile/home' : '/profiles/' + user.id" v-bind:aria-selected="false">About
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link active" id="profile-tab" data-toggle="tab" role="tab"
                               aria-controls="profile" to="/profile/info" v-bind:aria-selected="true">Education &
                    Experience
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="profile-work">
              <p>SKILLS</p>
              <span v-for="skill in user.skills">{{skill.name}}<br></span>
            </div>
          </div>
          <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="mb-4">
                <!-- Gradient divider -->
                <hr data-content="EDUCATION" class="hr-text">
              </div>
              <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row" style="text-align: left">
                  <div class="col-md-6" style="font-weight: bolder">
                    <label>University</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.university}}</p>
                  </div>
                </div>
                <div class="mb-4" v-if="jobExperience.length > 0">
                  <!-- Gradient divider -->
                  <hr data-content="EXPERIENCE" class="hr-text">
                </div>
                <div class="experience" style="text-align: left; background: #f8f9fa; border-radius: 5px" v-for="je in jobExperience">
                  <div class="row">
                    <div class="col-md-6" style="font-weight: bolder">
                      Company
                    </div>
                    <div class="col-md-6">
                      <label>{{je.company.name}}</label><br/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6" style="font-weight: bolder">
                      Description
                    </div>
                    <div class="col-md-6">
                      <label>{{je.description}}</label><br/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6" style="font-weight: bolder">
                      Work Period
                    </div>
                    <div class="col-md-6">
                      <label>{{getDate(je.from)}} - {{getDate(je.to)}}</label><br/>
                    </div>
                  </div>
                </div>
                <div class="mb-4" v-if="user.attended_hackathons.length > 0">
                  <!-- Gradient divider -->
                  <hr data-content="ATTENDED HACKATHONS" class="hr-text">
                </div>
                <div class="row">
                  <div class="card col-md-3" style="width: 18rem; margin: 0 20px 10px 20px" v-for="hackathon in user.attended_hackathons">
                    <router-link v-bind:to="'/hackathons/' + hackathon.id">
                      <img class="card-img-top"
                           v-bind:src="hackathon.picture !== null ? hackathon.picture.preview_link : 'https://hackanet-bucket.s3.amazonaws.com/Group59.png'"
                           alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">{{hackathon.name}}</p>
                      </div>
                    </router-link>
                  </div>
<!--                <div class="hackathons" style="text-align: left" v-for="hackathon in user.attended_hackathons">-->
<!--                  <div class="image">-->
<!--                    <img v-bind:src="hackathon.picture.preview_link" v-bind:alt="hackathon.name">-->
<!--                  </div>-->
<!--                  <div class="hackathon-info">-->
<!--                    <span class="hackathon-name">{{hackathon.name}}</span>-->
<!--                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import axios from "axios";
  import HostComponent from "./HostComponent";

  export default {
    name: "ProfileEducationAndExperience",
    extends: HostComponent,
    data() {
      return {
        user: null,
        result: "You are not logged in.",
        id: null,
        eduSelected: false,
        jobExperience: [],
        workFrom: null,
        workTo: null,
        isThisUser: false
      }
    },
    created() {
      this.id = this.id = this.$router.currentRoute.params['id'];
      let authorization = this.$cookies.get('Authorization');
      let config = {
        headers: {
          Authorization: authorization
        }
      };
      axios
        .get(this.backendHost + '/users/me', config)
        .then((response) => {
          this.user = response.data;
          this.isThisUser = this.user.id === this.id;
          this.result = null;
          // this.getJobExp(this.user.id);
        });
      axios
        .get(this.backendHost + '/users/' + this.id, {
          headers: {
            Authorization: authorization
          }
        })
        .then((response) => {
          this.user = response.data;
        });
      this.getJobExp(id);
    },
    methods: {
      setEduSelected(selected) {
        this.eduSelected = selected;
      },
      getJobExp(id) {
        let authorization = this.$cookies.get('Authorization');
        let config = {
          headers: {
            Authorization: authorization
          }
        };
        axios
          .get(this.backendHost + '/portfolio/user/' + id, config)
          .then((response) => {
            this.jobExperience = response.data.job_experience;
          })
      },
      getDate(millis) {
        const monthNames = ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"
        ];
        let d = new Date(millis),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear();

        if (month.length < 2)
          month = '0' + month;
        if (day.length < 2)
          day = '0' + day;
        return [year, monthNames[d.getMonth()]].join(' of ');
      }
    }
  }
</script>

<style scoped>

  .profile-img {
    width: 200px;
    height: 200px;
  }

  .profile-img img {
    width: 100%;
    height: 100%;
  }

  hr.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: #999;
  }

  hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    color: #999;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hackathons {
    border-radius: 10px;
  }
</style>
