<template>
  <div class="root">
    <div class="container emp-profile" v-if="user !== null">
      <form method="post">
        <div class="row">
          <div class="col-md-4">
            <div class="profile-img">
              <img
                v-bind:src="user.picture.preview_link"
                alt=""/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
              <h5>
                {{user.name}} {{user.lastname}}
              </h5>
              <h6>
                {{user.position}}
              </h6>
              <p class="proile-rating">RANKINGS : <span>{{user.rating}}/5 ({{user.review_count}} reviews)</span></p>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <router-link class="nav-link active" id="home-tab" data-toggle="tab" role="tab"
                               aria-controls="home" to="/profile/home" v-bind:aria-selected="false">About
                  </router-link>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" id="profile-tab" data-toggle="tab" role="tab"
                               aria-controls="profile" v-bind:to="'/profile/info/' + user.id" v-bind:aria-selected="true">Education &
                    Experience
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <router-link to="/profile/edit"><input type="button" class="btn btn-primary" name="btnAddMore"
                                                   value="Edit Profile"/></router-link>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="profile-work">
              <p>SKILLS</p>
              <span v-for="skill in user.skills">{{skill.name}}<br></span>
            </div>
          </div>
          <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"
                   v-show="!eduSelected">
                <div class="row">
                  <div class="col-md-6" style="font-weight: bolder">
                    <label>Nickname</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.nickname}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6" style="font-weight: bolder">
                    <label>Name</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.name}} {{user.lastname}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6" style="font-weight: bolder">
                    <label>Email</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.email}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6" style="font-weight: bolder">
                    <label>Profession</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.position}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6" style="font-weight: bolder">
                    <label>Country</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.country}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6" style="font-weight: bolder">
                    <label>City</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.city}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import axios from "axios";
  import HostComponent from "./HostComponent";

  export default {
    name: "Profile",
    extends: HostComponent,
    data() {
      return {
        user: null,
        result: "You are not logged in.",
        currentUser: null,
        id: null,
        thatUser: false,
        eduSelected: false
      }
    },
    created() {
      let authorization = this.$cookies.get('Authorization');
      let config = {
        headers: {
          Authorization: authorization
        }
      };
      axios
        .get(this.backendHost + '/users/me', config)
        .then((response) => {
          this.currentUser = response.data;
          this.user = this.currentUser;
          this.result = null;
          this.thatUser = true;
        })
    },
    methods: {
      setEduSelected(selected) {
        this.eduSelected = selected;
      }
    }
  }
</script>

<style scoped>

  .profile-img {
    width: 200px;
    height: 200px;
  }

  .profile-img img {
    width: 100%;
    height: 100%;
  }

  .row {
    text-align: left;
  }
</style>
