<template>
  <div class="root">
    <form>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-3">
          <input type="email" required class="form-control" id="inputEmail3" placeholder="Email" v-model="form.email">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-3">
          <input type="password" required class="form-control" id="inputPassword3" placeholder="Password"
                 v-model="form.password">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary" @click="signUp">Sign Up</button>
        </div>
      </div>
    </form>
    <div class="result">
      {{result}}
    </div>
  </div>
</template>

<script>

  import axios from "axios";
  import HostComponent from "./HostComponent";

  export default {
    name: "SignUp",
    extends: HostComponent,
    data() {
      return {
        result: "",
        form: {
          email: null,
          password: null
        }
      }
    },
    methods: {
      signUp() {
        axios
          .post(this.backendHost + '/users/register', this.form)
          .then((response) => {
              console.log(response.data);
              this.$router.push('/login')
            },
            (error) => {
              this.result = error;
            })
      }
    }
  }
</script>

<style scoped>

</style>
