<template>
  <div class="root">
    <form>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-3">
          <input type="email" required class="form-control" id="inputEmail3" placeholder="Email" v-model="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-3">
          <input type="password" required class="form-control" id="inputPassword3" placeholder="Password"
                 v-model="password">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary" @click="signin">Sign in</button>
        </div>
      </div>
    </form>
    <div class="result">
      {{result}}
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import HostComponent from "./HostComponent";

  export default {
    name: "SignIn",
    extends: HostComponent,
    data() {
      return {
        result: "",
        email: null,
        password: null
      }
    },
    methods: {
      signin() {
        var form = {
          email: this.email,
          password: this.password
        };

        axios
          .post(this.backendHost + '/users/login', form)
          .then((response) => {
            console.log(response.data);
              this.$cookies.remove('Authorization');
              this.$cookies.set('Authorization', "Bearer " + response.data.access_token);
              this.$router.push('/profile')
            },
            (error) => {
              this.result = error.status + ": " + error.text;
            })
      }
    }
  }
</script>

<style scoped>
</style>
