<script>
  import {Line} from "vue-chartjs";
  import axios from "axios";

  export default {
    name: "Statistic",
    extends: Line,
    data() {
      return {
        datacollection: {
          labels: [],
          datasets: [{
            label: 'Count of requests per hour',
            backgroundColor: 'rgba(255, 255, 255, 0)',
            borderColor: 'black',
            pointBackgroundColor: 'white',
            borderWidth: 2,
            pointBorderColor: '#249EBF',
            //Data to be represented on y-axis
            data: []
          },
            {
              label: 'Count of requests from Russia',
              backgroundColor: 'rgba(255, 255, 255, 0)',
              borderColor: 'red',
              pointBackgroundColor: 'white',
              borderWidth: 2,
              pointBorderColor: '#249EBF',
              //Data to be represented on y-axis
              data: []
            },
            {
              label: 'Count of requests from the US',
              backgroundColor: 'rgba(255, 255, 255, 0)',
              borderColor: 'blue',
              pointBackgroundColor: 'white',
              borderWidth: 2,
              pointBorderColor: '#249EBF',
              //Data to be represented on y-axis
              data: []
            }
          ]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              },
              gridLines: {
                display: true
              }
            }],
            xAxes: [{
              gridLines: {
                display: false
              }
            }]
          },
          legend: {
            display: true
          },
          responsive: true,
          maintainAspectRatio: false
        }
      }
    },
    mounted() {
      axios
        .get('http://localhost:8085/statistics/hourly?to=1584576000000')
        .then(response => {
          this.statistic = response.data;
          for (var i = 0; i < this.statistic.statistics.length; i++) {
            let element = this.statistic.statistics[i];
            this.datacollection.datasets[0].data.push(element.requests_count);
            this.datacollection.labels.push(this.getDate(element.time));
          }
        });
      axios
        .get('http://localhost:8085/statistics/hourly?to=1584576000000&countries=Russia')
        .then(response => {
          this.statistic = response.data;
          for (var i = 0; i < this.statistic.statistics.length; i++) {
            let element = this.statistic.statistics[i];
            this.datacollection.datasets[1].data.push(element.requests_count);
          }
        });
      axios
        .get('http://localhost:8085/statistics/hourly?to=1584576000000&countries=United States')
        .then(response => {
          this.statistic = response.data;
          for (var i = 0; i < this.statistic.statistics.length; i++) {
            let element = this.statistic.statistics[i];
            this.datacollection.datasets[2].data.push(element.requests_count);
          }
        });
      this.renderChart(this.datacollection, this.options);
    },
    methods: {
      getDate(millis) {
        let d = new Date(millis),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear(),
          hour = '' + d.getHours(),
          minutes = '' + d.getMinutes();
        if (month.length < 2) {
          month = '0' + month;
        }
        if (day.length < 2) {
          day = '0' + day;
        }
        if (minutes.length < 2) {
          minutes = '0' + minutes;
        }
        if (hour.length < 2) {
          hour = '0' + hour;
        }
        return year + '-' + month + '-' + day + ' ' + hour + ':' + minutes;
      }
    }
  }
</script>

<style scoped>

</style>
