<template>
  <div class="root">
    <div class="result"
         v-if="isSuggestions && (currentUser === null || currentUser.skills === null || currentUser.skills.length === 0)">
      There is no suggestions for you because you have not pointed out skills or you are not logged in.
    </div>
    <div class="row">
      <div class="card col-md-2" style="width: 18rem; margin: 0 20px 10px 20px" v-for="team in teams">
        <router-link v-bind:to="'/team/' + team.id">
          <div class="card-body">
            <p class="card-text">{{team.name}}</p>
            <p class="card-text">Members: </p>
            <p class="card-text" v-for="member in team.members">{{member.name}} {{member.lastname}}</p>
          </div>
        </router-link>
        <button type="button" class="btn btn-primary" @click="join(team.id)">Send join request</button>
      </div>
    </div>
    <div class="row" style="margin-top: 100px">
      <div class="add-team col-md-3" style="margin-right: 25%">
        <router-link to="/teams/add" class="btn btn-primary">Add a team</router-link>
      </div>
      <div class="add-team col-md-3">
        <button class="btn btn-primary" @click="getSuggestions" v-if="!isSuggestions">Show suggestions</button>
      </div>
      <div class="add-team col-md-3">
        <router-link  to="/requests" class="btn btn-primary">Show join requests</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from "axios";
  import HostComponent from "./HostComponent";

  export default {
    name: "Teams",
    extends: HostComponent,
    data() {
      return {
        teams: [],
        currentUser: null,
        isSuggestions: false
      }
    },
    created() {
      axios
        .post(this.backendHost + '/teams/search', {})
        .then(response => {
          this.teams = response.data;
        })
    },
    methods: {
      getSuggestions() {
        let authorization = this.$cookies.get('Authorization');
        axios
          .get(this.backendHost + '/users/me', {
            headers: {
              Authorization: authorization
            }
          })
          .then((response) => {
            this.currentUser = response.data;
          });
        axios
          .get(this.backendHost + '/teams/suggestions/hackathons',
            {
              headers: {
                Authorization: authorization
              }
            })
          .then((response) => {
            this.teams = response.data;
            this.isSuggestions = true;
          })
      },
      join(id) {
        let authorization = this.$cookies.get('Authorization');
        let config = {
          headers: {
            Authorization: authorization
          }
        };
        axios.post(this.backendHost + '/teams/join/request/create', {team_id: id}, config);
      }
    }
  }
</script>

<style scoped>

  .root {
    margin-left: 50px;
    margin-right: 50px;
  }
</style>
