<template>
  <div class="root">
    <div class="result">{{result}}</div>
    <div class="list-group" v-for="invitation in invitations">
      <div class="invitation" v-if="invitation.status === 'WAITING'">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{invitation.team.name}}</h5>
            <small>{{getDate(invitation.datetime)}}</small>
          </div>
          <div class="row">
            <label for="status" class="col-md-4">Current status:</label>
            <p class="mb-1 col-md-4" id="status">{{invitation.status}}</p>
          </div>
          <div class="row">
            <label for="skills" class="col-md-4" style="font-size: 20px">Skills you will use</label>
            <multiselect v-model="selectedSkills" :multiple="true" :close-on-select="true" :options="skills"
                         label="name"
                         track-by="name"
                         id="skills" class="skills col-md-4"></multiselect>
          </div>
          <button type="button" class="btn btn-primary btn-accept" @click="accept(invitation.id)">Accept</button>
          <button type="button" class="btn btn-primary btn-reject" @click="reject(invitation.id)">Reject</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from "axios";
  import {Multiselect} from "vue-multiselect";
  import HostComponent from "./HostComponent";

  export default {
    name: "TeamInvitations",
    extends: HostComponent,
    components: {Multiselect},
    data() {
      return {
        invitations: [],
        result: "Unfortunately, no invitations have been found for you.",
        skills: [],
        selectedSkills: []
      }
    },
    created() {
      let authorization = this.$cookies.get('Authorization');
      axios
        .get(this.backendHost + '/teams/invitations/user', {
          headers: {
            Authorization: authorization
          }
        })
        .then(response => {
          this.invitations = response.data;
          this.invitations.forEach(invitation => {
            if (invitation.status === 'WAITING') {
              this.result = "";
            }
          })
        })
      axios
        .get(this.backendHost + '/skills')
        .then((response) => {
          this.skills = response.data;
        });
    },
    methods: {
      getDate(millis) {
        let d = new Date(millis),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear();

        if (month.length < 2)
          month = '0' + month;
        if (day.length < 2)
          day = '0' + day;

        return [year, month, day].join('-');
      },
      accept(id) {
        let authorization = this.$cookies.get('Authorization');
        let skills = "";
        for (let i = 0; i < this.selectedSkills.length; i++) {
          skills += "&skillsIds=" + this.selectedSkills[i].id;
        }
        console.log(skills);
        axios
          .get(this.backendHost + '/teams/invitations/' + id + '/status?status=ACCEPTED' + skills,
            {
              headers: {
                Authorization: authorization
              }
            })
          .then(response => {
            this.result = response.status;
          })
      },
      reject(id) {
        let authorization = this.$cookies.get('Authorization');
        axios
          .get(this.backendHost + '/teams/invitations/' + id + '/status?status=REJECTED', {
            headers: {
              Authorization: authorization
            }
          })
          .then(response => {
            this.result = response.status;
          })
      }
    }
  }
</script>

<style>

  .list-group {
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
  }

  .btn-accept {
    background: darkgreen;
    font-weight: bold;
  }

  .btn-reject {
    background: darkred;
    font-weight: bold;
  }

  .skills {
    width: 400px;
    margin-bottom: 15px;
  }
</style>
