<template>
  <div class="root">
    <div class="name">
      <h1>{{team.name}} members</h1>
    </div>
    <div class="row">
      <div class="card col-md-2" style="width: 18rem; margin: 0 20px 10px 20px" v-for="user in team.members">
        <router-link v-bind:to="'/profiles/' + user.id">
          <img class="card-img-top"
               v-bind:src="user.image !== null ? user.image.preview_link : 'https://hackanet-bucket.s3.amazonaws.com/no_picture_avatar.png'"
               alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{user.name}} {{user.last_name}}</p>
            <p class="card-text" v-for="skill in user.skills">{{skill.name}}</p>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import HostComponent from "./HostComponent";
  import axios from "axios";

  export default {
    name: "Team",
    extends: HostComponent,
    data() {
      return {
        team: null
      }
    },
    created() {
      let id = this.$router.currentRoute.params['id'];
      let authorization = this.$cookies.get('Authorization');
      let config = {
        headers: {
          Authorization: authorization
        }
      };
      axios
        .get(this.backendHost + '/teams/' + id, config)
        .then(response => {
          console.log(response.data);
          this.team = response.data;
        })
    }
  }
</script>

<style scoped>

</style>
