<template>
  <div class="root">
    <div class="row">
      <div class="col-md-4">
        <label for="team">Select team</label>
      </div>
      <div class="col-md-4" style="margin-bottom: 15px; margin-left: 20px">
        <multiselect v-model="selectedTeam" :multiple="false" :close-on-select="true" :options="userTeams"
                     aria-placeholder="select team"
                     label="name"
                     track-by="name"
                     id="team"></multiselect>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="hackathon">Select hackathon</label>
      </div>
      <div class="col-md-4" style="margin-bottom: 15px; margin-left: 20px">
        <multiselect v-model="selectedHackathon" :multiple="false" :close-on-select="true"
                     :options="currentUser.attended_hackathons"
                     aria-placeholder="select team"
                     label="name"
                     track-by="name"
                     id="hackathon"></multiselect>
      </div>
    </div>
    <div class="row">
      <div class="card col-md-2" style="width: 18rem; margin: 0 20px 10px 20px" v-for="user in users">
        <router-link v-bind:to="'/profiles/' + user.id">
          <img class="card-img-top" v-bind:src="user.picture.preview_link" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{user.name}} {{user.lastname}}</p>
            <p class="card-text">{{user.position}}</p>
          </div>
        </router-link>
        <button class="btn btn-primary" @click="invite(user.id)" v-if="user.id !== currentUser.id">{{status}}</button>
      </div>
    </div>
    <div class="mb-4" v-if="suggestionMembers.length > 0">
      <!-- Gradient divider -->
      <hr data-content="SUGGESTIONS" class="hr-text">
    </div>
    <div class="row">
      <div class="card col-md-2" style="width: 18rem; margin: 0 20px 10px 20px" v-for="user in suggestionMembers">
        <router-link v-bind:to="'/profiles/' + user.id">
          <img class="card-img-top"
               v-bind:src="user.picture !== null ? user.picture.preview_link : 'https://hackanet-bucket.s3.amazonaws.com/no_picture_avatar.png'"
               alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{user.name}} {{user.lastname}}</p>
            <p class="card-text">{{user.position}}</p>
          </div>
        </router-link>
        <button class="btn btn-primary" @click="inviteToTeam(user.id)" v-if="user.id !== currentUser.id">Invite to the team
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary" @click="getMembersSuggestions(selectedTeam)"
                style="background: green; font-weight: bolder"
                v-if="selectedTeam !== null">
          Show members suggestions
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from "axios";
  import Multiselect from "vue-multiselect";
  import HostComponent from "./HostComponent";

  export default {
    name: "Users",
    extends: HostComponent,
    components: {Multiselect},
    data() {
      return {
        users: [],
        currentUser: null,
        status: 'Connect',
        userTeams: [],
        selectedTeam: null,
        selectedHackathon: null,
        isSuggestion: false,
        suggestionMembers: []
      }
    },
    created() {
      axios
        .post(this.backendHost + '/users/list', {})
        .then(response => {
          this.users = response.data;
        });
      let authorization = this.$cookies.get('Authorization');
      axios
        .get(this.backendHost + '/users/me', {
          headers: {
            Authorization: authorization
          }
        })
        .then((response) => {
          this.currentUser = response.data;
        });
      axios
        .get(this.backendHost + '/teams/users', {
          headers: {
            Authorization: authorization
          }
        })
        .then(response => {
          this.userTeams = response.data;
        })
    },
    methods: {
      invite(id) {
        let authorization = this.$cookies.get('Authorization');
        axios
          .get(this.backendHost + '/connections/invitations/invite?invitedUserId=' + id, {
            headers: {
              Authorization: authorization
            }
          })
          .then(response => {
            console.log(response.data)
          })
      },
      getMembersSuggestions(team) {
        let authorization = this.$cookies.get('Authorization');
        let hackathonParam = this.selectedHackathon === null ? "" : "&hackathonId=" + this.selectedHackathon.id
        axios.get(this.backendHost + '/teams/suggestions/members?teamId=' + team.id + hackathonParam, {
          headers: {
            Authorization: authorization
          }
        })
          .then(response => {
            this.suggestionMembers = response.data;
            this.isSuggestion = true;
          })
      },
      inviteToTeam(id) {
        let authorization = this.$cookies.get('Authorization');
        console.log(authorization);
        axios
          .post(this.backendHost + '/teams/invitations/create?user_id=' + id + '&team_id=' + this.selectedTeam.id, {}, {
            headers: {
              Authorization: authorization
            }
          })
      }
    }
  }
</script>

<style scoped>

  .root {
    margin-left: 50px;
    margin-right: 50px;
  }

  hr.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: #999;
  }

  hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #42b983;
    font-weight: bold;
    font-size: 0.85rem;
    color: white;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .col-md-4 {
    text-align: right;
  }
</style>
