<template>
  <div class="root">
    <div class="container emp-profile" v-if="user !== null">
      <form method="post">
        <div class="row">
          <div class="col-md-4">
            <div class="profile-img">
              <img
                v-bind:src="user.picture.preview_link"
                alt=""/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
              <h5>
                {{user.name}} {{user.lastname}}
              </h5>
              <h6>
                {{user.position}}
              </h6>
              <p class="proile-rating">RANKINGS : <span>{{user.rating}}/5 ({{user.review_count}} reviews)</span></p>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                     aria-controls="home" aria-selected="true">About</a>
                </li>
                <li class="nav-item">
                  <router-link class="nav-link" id="profile-tab" data-toggle="tab" role="tab"
                               aria-controls="profile" v-bind:to="'/profile/info/' + user.id" v-bind:aria-selected="true">Education &
                    Experience
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="profile-work">
              <p>SKILLS</p>
              <span v-for="skill in user.skills">{{skill.name}}<br></span>
            </div>
          </div>
          <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                  <div class="col-md-6">
                    <label>Nickname</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.nickname}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Name</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.name}} {{user.lastname}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Email</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.email}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Profession</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.position}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Country</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.country}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>City</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{user.city}}</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                  <div class="col-md-6">
                    <label>Experience</label>
                  </div>
                  <div class="col-md-6">
                    <p>Expert</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Hourly Rate</label>
                  </div>
                  <div class="col-md-6">
                    <p>10$/hr</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Total Projects</label>
                  </div>
                  <div class="col-md-6">
                    <p>230</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>English Level</label>
                  </div>
                  <div class="col-md-6">
                    <p>Expert</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Availability</label>
                  </div>
                  <div class="col-md-6">
                    <p>6 months</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label>Your Bio</label><br/>
                    <p>Your detail description</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import axios from "axios";
  import HostComponent from "./HostComponent";

  export default {
    name: "UserProfile",
    extends: HostComponent,
    data() {
      return {
        user: null
      }
    },
    created() {
      let authorization = this.$cookies.get('Authorization');
      this.id = this.$router.currentRoute.params['id'];
      axios
        .get(this.backendHost + '/users/' + this.id, {
          headers: {
            Authorization: authorization
          }
        })
        .then((response) => {
          this.user = response.data;
        });
    }
  }
</script>

<style scoped>
  .profile-img {
    width: 200px;
    height: 200px;
  }

  .profile-img img {
    width: 100%;
    height: 100%;
  }
</style>
